services:
  api:
    build: ./backend
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  web: # <--- NEUER SERVICE
    build: ./frontend
    ports:
      - "127.0.0.1:8080:80" # Wir mappen Port 80 vom Container auf 8080 am Laptop